* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

:root {
    
    --fore: #a4c2f4;
    --light: rgb(189, 164, 164);
    --blk: black;
    --dkblue: #6d9eeb;
    --dkbox: #210a0a;
}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dkblue);
    color: var(--blk);
    position:sticky;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

header h1 {
    display: flex;
    font-size: 48px;
    background-color: var(--fore);
    opacity: 50%;
    padding-left:20px;
    padding-right:20px;
}


header nav {
    display:flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-left: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    background-color: var(--fore);
    margin-left: 25px;
    padding:0px 5px;
    }

    
header nav ul li a:link{
  color: black;
  opacity: 50%;
}

header nav ul li a:hover{
  color: black;
  opacity:100%;
}

img {
  margin-bottom: 15px;
  max-height: 150px;
  
}

.subtitle{
display:flex;
justify-content: flex-end;
margin-top: -60px;
margin-right: 15px;
}

.subtitle h3 {
  background-color: var(--fore);
  padding: 3px 10px;
}

.profile{
display:flex;
justify-content: flex-start;
margin-top: -110px;
margin-left: 15px;
}

.about-me{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  width: 100%;

}

.about-me h2{
  display:flex;
  color: var(--dkblue);
  justify-content: center;
  align-self: center;
  padding-left: 10%;
  padding-right: 3%;
}

.about-me p{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 2% 2% 2% 15%;
  /* padding-left:100px; */
  width:75%;
  border-left: 5px solid var(--dkblue)
}

.about-me .left{
  margin-top: 100px;
}

.work{
  display:flex;
  justify-content: center;
  padding-top: 2%;
  flex-wrap: wrap;
  position:relative


}

.work h2{
  display:flex;
  color: var(--dkblue);
  justify-content: center;
  align-self: center;
  padding-left: 10%;
  padding-right: 3%;
}



.left{
  width:25%;

}

.right{
  width:75%;
}

.left-tall{
  position: absolute;
  height:100%;
  margin-right: 75%;
  margin-top: 125px;
}

.wide{
  width:75%;
  padding-left: 10%;  
  padding-right: 12%;
}

.small{
  width:25%;
  padding-left:10%;
  }

.sml-rgt{
margin-right:25%
}

.work-cards{
  margin-left: 25%;
  border-left: var(--dkblue) solid 5px;
}



.work-cards img{
 display: flex;
 flex-direction: column;
 flex: 1 1 1;
}

.wc-pics{
  border: 1px solid var(--dkblue) ;
}
.proj-text{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  margin-top: -80px;
  margin-left: 15px;
  background-color: var(--dkbox);
  color: white;


}

.contact-me{
  display:flex;
  flex-wrap: wrap;
  padding-top: 2%;
  margin-bottom: 50px;
  border-top: var(--dkblue) dotted 5px;
  margin-top: 20px;
}


.contact-me h2{
  display:flex;
  border-right: 5px solid var(--dkblue);
  color: var(--dkblue);
  justify-content: center;
  align-self: right;
  padding-left: 10%;
  margin-left: 1%;
}

.contact-me div ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  font-size: 16px;
  margin-left: 50px;
}

.contact-me div ul li{
  display: inline-block;
  flex-grow: 1;
  margin: 0px 50px;

}

footer h3{
 text-align: center;
 padding-bottom: 100px;
}

/* @media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
} */

@media all and (max-width: 500px) {
  .nav, .about-me, .work, .contact-me, .contact-me  {
    flex-direction: column;
    flex: 1 1 1;
  }
}

