* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

:root {
    
    --fore: #a4c2f4;
    --light: rgb(189, 164, 164);
    --blk: black;
    --dkblue: #6d9eeb;
}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dkblue);
    color: var(--blk);
    position:sticky;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

header h1 {
    display: flex;
    font-size: 48px;
    background-color: var(--fore);
    opacity: 50%;
    padding-left:20px;
    padding-right:20px;
}


header nav {
    display:flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-left: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    background-color: var(--fore);
    margin-left: 25px;
    padding:0px 5px;
    }

    
header nav ul li a:link{
  /* color: var(--dkblue) */
  color: black;
  opacity: 50%;
}

header nav ul li a:hover{
  color: black;
  opacity:100%;
}

/* a:visited {
  color:var(--dkblue)
} */

/* .hero {
  background-image: url(assets/images/abstract-technology-banner-background.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  width:100%;
  margin: 50px;
} */

img {
  width: 100%;
  margin-bottom: 15px;
  max-height: 150px;
  
}
caption {
  justify-self: flex-end;
}

.about-me{
  display:flex;
  justify-content: space-between;
  padding-top: 2%;

}

.about-me h2{
  display:flex;
  flex-wrap: wrap;
  border-right: 5px solid var(--dkblue);
  color: var(--dkblue);
  justify-content: center;
  align-self: center;
  padding-left: 10%;
  padding-right: 3%;
}

.about-me p{
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding 5%
  margin-left: 20px;
  padding-left:50px;
}

.work{
  display:flex;
  justify-content: space-between;
  padding-top: 2%;

}

.work h2{
  display:flex;
  flex-wrap: wrap;
  border-right: 5px solid var(--dkblue);
  color: var(--dkblue);
  justify-content: center;
  align-self: center;
  padding-left: 10%;
  padding-right: 3%;
}

.work div{
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding 5%
  margin-left: 20px;
  padding-left:50px;
}

.contact-me{
  display:flex;
  /* justify-content: space-between; */
  padding-top: 2%;

}

.contact-me h2{
  display:flex;
  /* flex-wrap: wrap; */
  border-right: 5px solid var(--dkblue);
  color: var(--dkblue);
  justify-content: right;
  align-self: right;
  padding-left: 10%;
  padding-right: 3%;
}

.contact-me div ul{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 16px;
  /* padding 5% */
  margin-left: auto;
  /* padding-left:50px; */
}

.contact-me div ul li{
  display: flex;
  flex-grow: 1;
  margin: 0px 50px;

}


@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}